* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.left-side {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(29, 133, 133, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  padding: 40px;
  border-radius: 10px;
  width: 60%;
}

form {
  text-align: left;
  margin-top: 20px;
}

form input {
  width: 100%;
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
  border: none;
  border-bottom: solid 1px #1d8585;
  height: 30px;
  background: transparent;
  outline: none;
  color: #1d8585;
}

.password {
  width: 100%;
}
.password a {
  color: #1d8585;
  font-size: 12px;
  text-decoration: none;
}

.password a:hover {
  text-decoration: underline;
}

form button {
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(29, 133, 133, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  color: white;
  height: 30px;
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

form label {
  font-size: 13px;
}

.title {
  margin-bottom: 100px;
}

.title img {
  width: 100px;
}

.title h5 {
  color: white;
  font-size: 16px;
}

.title p {
  color: white;
  margin-top: 3px;
  font-size: 14px;
}

.logo-back img {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  width: 50%;
  opacity: 0.05;
  transform: rotate(45deg);
  transform: scale(3, 3);
  z-index: -1;
  user-select: none;
}

.login p {
  font-size: 28px;
  font-weight: 700;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup p {
  font-size: 12px;
}

.signup a {
  font-size: 12px;
  margin-left: 5px;
  color: #1d8585;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.error-user {
  color: rgb(209, 1, 1);
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.error-pass {
  color: rgb(209, 1, 1);
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

span {
  color: rgb(209, 1, 1);
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
